
    
body{
    background-image: url("./image/signup.png");
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
   border: 1px solid black;
   border-radius: 15px;
   width: 380px;
   height: 310px;
   background-color: rgba(0, 0, 0, 0.192);
   backdrop-filter: blur(7px);

}

form{
    text-align: center;
    justify-content: center;
}

h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    color: rgb(39, 86, 42);
    font-size: 40px;
}

input{
    color: rgb(0, 0, 0);
    padding: 10px  40px;
    font-size: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.123);
}

button{
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #000;
}


/* Media queries */

@media screen and (max-width:600px){
    body{
        display: flex;
        margin: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container {
    border: 1px solid black;
    border-radius: 15px;
    width: 250px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.192);
    backdrop-filter: blur(7px);
    }

    form{
        text-align: center;
        justify-content: center;
    }

    h1{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: 30px;
    }
    
    input{
        color: rgb(0, 0, 0);
        padding: 10px  35px;
        font-size: 12px;
        margin-bottom: 15px;
    }
    
    button{
        padding: 10px 90px;
        border: none;
    }
    
}